@import 'partials/_variables';
@import 'partials/_mixin';

:root {
	font-size: 1px;
}

hr {
	display: none;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background-color: color(base, 005);
	@include font((outline: body, size: medium, family: default)...);
}

#wrap {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding: 0 40rem;
}

#page {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 32rem;

	.page-head {
		@include hidden;
	}
	
	.page-body {
		#local {
			.local-head {
				@include hidden;
			}
		}
	}
	
	.page-foot {
		@include hidden;
	}
	
}



.page-body.page-login {
	width: 100%;
	position: relative;

	#content{
		.content-body {
			.info-board {
				&::before {
					content: '';
					display: block;
					width: 40rem;
					height: 40rem;
					margin-bottom: 16rem;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' fill='rgb(237, 26, 59)'%3E %3Cpath d='M17.91,0h7.91V27.81c0,3.76-1.17,6.73-3.5,8.91-2.33,2.18-5.39,3.28-9.17,3.28s-6.89-1.09-9.2-3.28c-2.3-2.18-3.46-5.16-3.46-8.91V0h7.9V27.81c0,3.19,1.59,4.79,4.76,4.78,3.16,0,4.75-1.59,4.75-4.78V0Zm15.72,12.49c.35,.35,.77,.62,1.24,.8,.46,.18,.96,.26,1.45,.24,.49,.01,.97-.07,1.42-.25,.45-.18,.86-.44,1.21-.78,.34-.33,.61-.73,.79-1.18,.18-.44,.27-.92,.25-1.39,0-.49-.08-.98-.26-1.44-.18-.46-.45-.88-.8-1.23-.33-.35-.74-.63-1.19-.82-.45-.19-.93-.28-1.42-.27h-.1c-.48,0-.96,.1-1.41,.29-.45,.19-.85,.47-1.18,.82-.35,.34-.62,.75-.81,1.19s-.28,.93-.27,1.41c-.01,.49,.08,.97,.27,1.42,.19,.45,.46,.85,.82,1.19Zm5.31,11.66c-.33-.35-.73-.63-1.17-.81-.44-.19-.92-.28-1.4-.27h-.07c-.49,0-.98,.11-1.43,.3-.45,.19-.86,.48-1.19,.83-.35,.35-.63,.77-.82,1.23-.19,.46-.28,.95-.27,1.45,0,.47,.09,.95,.28,1.38,.19,.44,.46,.83,.81,1.15,.35,.35,.77,.62,1.24,.8,.46,.18,.96,.27,1.45,.26,.48,0,.96-.09,1.41-.28,.44-.19,.84-.47,1.17-.82,.35-.35,.62-.77,.8-1.23,.18-.46,.27-.95,.25-1.44,0-.47-.09-.94-.27-1.38s-.45-.83-.79-1.17Z'/%3E%3C/svg%3E");
					
		
				}
				.board-summary{
					margin: 0;

		
					@include font((outline: body, size: x-large, weight: bold)...);
					color: color(base,030);

					.wbr{
						display: block;
					}
				}

				&~.submit-form {
					margin-top: 40rem;
				}
			}
			.submit-form{
				margin: 0;
				padding: 0;
				border: hidden;
				legend{
					@include hidden;
				}
				.form-list{
					.form-item{
						&~.form-item {
							margin-top: 8rem;
						}
						.form-wrap{
							.form-head{
								@include hidden;
							}
							.form-body{
								position: relative;

								.form-area {
									display: flex;
									.form~.form {
										margin-left: 4rem;
									}

									.form.flex {
										flex: 1 1 100%;
									}

									.form-elem {
										&::placeholder{
											color:#b4bcc0;
											font-weight: 300;
										}
									}

									&:not(.invalid)~.form-noti {
										display: none;
									}
									
									&.invalid:focus-within~.form-noti {
										display: none;
									}

									&.invalid:not(:focus-within) {
										.form {
											opacity: 0;
										}
									}

								}

								.form-noti{
									display: flex;
									align-items: center;

									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;

									padding: 0 16rem;
									border-radius: 8rem;
									border: 1px solid #fba8b6;
									background-color: color(base, 000);
									pointer-events: none;

									.para{
										margin: 0;
										@include font((outline: body, size: small,)...);
										color: color(primary,050);
									}
								}
							}
						}
					}
					&~.form-util {
						margin-top: 24rem;
					}
				}
				.form-util {
					.button-area{
						flex-grow: 1;
					}
				}
				
			}
		}

	}
}