		<div id="skip" class="page-skip"><a class="skip-item" href="#content">본문 바로가기</a></div>
		<!-- page-head -->
		<div class="page-head" id="header">
			<h1 class="page-title" id="pageTitle"><a class="page-name" href="#">유컴패니온 인트라넷</a></h1>
		</div>
		<!-- //page-head -->
		<hr />
		<!-- page-navi -->
		<div class="page-navi">
			<ul class="navi-list">
				<% if (current === '1') { %><li class="navi-item current" title="선택 됨"><%} else {%><li class="navi-item"><% } %><a class="navi-name" href="#">메인</a></li>
				<% if (current === '2') { %><li class="navi-item current" title="선택 됨"><%} else {%><li class="navi-item"><% } %><a class="navi-name" href="#">공지사항</a></li>
				<% if (current === '3') { %><li class="navi-item current" title="선택 됨"><%} else {%><li class="navi-item"><% } %><a class="navi-name" href="#">근무현황</a></li>
				<% if (current === '4') { %><li class="navi-item current" title="선택 됨"><%} else {%><li class="navi-item"><% } %><a class="navi-name" href="#">임직원 조회</a></li>
				<% if (current === '5') { %><li class="navi-item current" title="선택 됨"><%} else {%><li class="navi-item"><% } %><a class="navi-name" href="#">결재관리</a></li>
			</ul>
		</div>
		<!-- //page-navi -->
		<hr />