<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'main',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
		<%-include('../_templates/_header.front.ejs', {
			current: '1',
		}) %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local -->
			<div id="local">
				<!-- local-head -->
				<div class="local-head">
					<h2 class="local-title" id="localTitle"><span class="local-name">메인</span></h2>
				</div>
				<!-- //local-head -->
				<!-- local-body -->
				<div class="local-body">
					<!-- content -->
					<div id="content">
						<!-- content-body -->
						<div class="content-body">
							<!-- info-board -->
							<div class="info-board main-info">
								<div class="board-wrap">
									<div class="board-head">
										<p class="board-summary">
											<span class="wbr">turn professional</span>
											<span class="wbr">level up!</span>
										</p>
									</div>
								</div>
							</div>
							<!-- //info-board -->
							<!-- section -->
							<div class="section my-info">
								<div class="section-wrap">
									<div class="section-head">
										<h3 class="section-subject"><span class="section-name">내 정보</span></h3>
									</div>
									<div class="section-body">
										<!-- goods-display -->
										<div class="goods-display">
											<div class="goods-wrap" style="--default-picture: url(./../../assets/images/@temp/img_profile_02.png);">
												<div class="goods-inform">
													<div class="goods-head">
														<p class="goods-title">
															<span class="goods-name">홍길순</span>
															<span class="goods-department">서비스운영본부</span>
															<span class="goods-team">데이타 플랫폼 TFT팀</span>
														</p>
													</div>
													<div class="goods-data">
														<ul class="data-list">
															<li class="data-item working-hours">
																<span class="head">출퇴근시간</span>
																<span class="body">10:00 ~ 19:00</span>
															</li>
															<li class="data-item day-off">
																<span class="head">내 남은 연차</span>
																<span class="body">13일</span>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<!-- //goods-display -->
									</div>
								</div>
							</div>
							<!-- //section -->
							<!-- section -->
							<div class="section module-a type-a approve">
								<div class="section-wrap">
									<div class="section-head">
										<h3 class="section-subject"><span class="section-name">결재하기</span></h3>
									</div>
									<div class="section-body">
										<!-- data-display -->
										<div class="data-display">
											<ul class="data-list">
												<li class="data-item dayoff-approve">
													<div class="data-wrap">
														<span class="data-head"><span class="data-name">연차 결재</span></span>
														<span class="data-body">99+</span>
													</div>
												</li>
												<li class="data-item expenses">
													<div class="data-wrap">
														<span class="data-head"><span class="data-name">지출 결재</span></span>
														<span class="data-body">0</span>
													</div>
												</li>
											</ul>
										</div>
										<!-- //data-display -->
									</div>
								</div>
							</div>
							<!-- section -->
							<!-- //section -->
							<div class="section module-a type-a inquire">
								<div class="section-wrap">
									<div class="section-head">
										<h3 class="section-subject"><span class="section-name">조회하기</span></h3>
									</div>
									<div class="section-body">
										<!-- data-display -->
										<div class="data-display">
											<ul class="data-list">
												<li class="data-item my-dayoff">
													<div class="data-wrap">
														<span class="data-head"><span class="data-name">나의 연차 결재</span></span>
														<span class="data-body">1</span>
													</div>
												</li>
												<li class="data-item my-expenses">
													<div class="data-wrap">
														<span class="data-head"><span class="data-name">나의 지출 결재</span></span>
														<span class="data-body">0</span>
													</div>
												</li>
											</ul>
										</div>
										<!-- //data-display -->
										<!-- button-display -->
										<div class="button-display">
											<span class="button-area working-status">
												<a class="btn module-b style-b type-fill normal-04 large symbol-rtl-fill-chevron-right" href="#"><span class="btn-text">임직원 근무 현황</span></a>
											</span>
											<span class="button-area employees">
												<a class="btn module-b style-b type-fill normal-04 large symbol-rtl-fill-chevron-right" href="#"><span class="btn-text">임직원 조회</span></a>
											</span>
										</div>
										<!-- //button-display -->
									</div>
								</div>
							</div>
							<div class="section module-a type-a announce">
								<div class="section-wrap">
									<div class="section-head">
										<h3 class="section-subject"><span class="section-name">공지사항</span></h3>
									</div>
									<div class="section-body">
										<div class="post-latest module-a style-a type-a">
											<div class="post-list">
												<div class="post-item">
													<div class="post-wrap">
														<div class="post-inform">
															<div class="post-type">
																<p class="data-list">
																	<span class="data-item"><span class="mark module-b style-c type-fill accent-01 small"><span class="mark-text">N</span></span></span>
																	<span class="data-item"><span class="mark module-b style-c type-line normal-01 small"><span class="mark-text">필독 D-29</span></span></span>
																</p>
															</div>
															<div class="post-head">
																<p class="post-title"><span class="post-name">유컴패니온 공지사항 입니다.</span></p>
															</div>
															<div class="post-data">
																<ul class="data-list">
																	<li class="data-item writer">
																		<span class="head">글쓴이</span>
																		<span class="body">
																			<span class="name">유컴관리자</span>
																		</span>
																	</li>
																	<li class="data-item posted">
																		<span class="head">등록일</span>
																		<span class="body">
																			<span class="date">2022-03-24</span>
																		</span>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="post-item">
													<div class="post-wrap">
														<div class="post-inform">
															<div class="post-type">
																<p class="data-list">
																	<span class="data-item"><span class="mark module-b style-c type-line normal-03 small"><span class="mark-text">공지</span></span></span>
																</p>
															</div>
															<div class="post-head">
																<p class="post-title"><span class="post-name">최대 두줄까지 노출되고, 내용이 넘칠 시 ...</span></p>
															</div>
															<div class="post-data">
																<ul class="data-list">
																	<li class="data-item writer">
																		<span class="head">글쓴이</span>
																		<span class="body">
																			<span class="name">유컴관리자</span>
																		</span>
																	</li>
																	<li class="data-item posted">
																		<span class="head">등록일</span>
																		<span class="body">
																			<span class="date">2022-03-24</span>
																		</span>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="post-item">
													<div class="post-wrap">
														<div class="post-inform">
															<div class="post-type">
																<p class="data-list">
																	<span class="data-item"><span class="mark module-b style-c type-fill accent-01 small"><span class="mark-text">N</span></span></span>
																	<span class="data-item"><span class="mark module-b style-c type-line normal-01 small"><span class="mark-text">필독 D-29</span></span></span>
																</p>
															</div>
															<div class="post-head">
																<p class="post-title"><span class="post-name">유컴패니온 공지사항 입니다.</span></p>
															</div>
															<div class="post-data">
																<ul class="data-list">
																	<li class="data-item writer">
																		<span class="head">글쓴이</span>
																		<span class="body">
																			<span class="name">유컴관리자</span>
																		</span>
																	</li>
																	<li class="data-item posted">
																		<span class="head">등록일</span>
																		<span class="body">
																			<span class="date">2022-03-24</span>
																		</span>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-side">
										<span class="button-area">
											<a class="btn more-data" href="#"><span class="btn-text">전체보기</span></a>
										</span>
									</div>
								</div>
							</div>
							<!-- //section -->
						</div>
						<!-- //content-body -->
					</div>
					<!-- //content -->
				</div>
				<!-- //local-body -->
			</div>
			<!-- //local -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
</div>
</body>
</html>