<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'front',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
		<!-- page-body -->
		<div class="page-body page-default page-approval">
			<!-- local -->
			<div id="local">
				<!-- local-head -->
				<div class="local-head">
					<h2 class="local-title" id="localTitle"><span class="local-name">결제관리</span></h2>
					<!-- local-navi -->
					<div class="local-navi">
						<ul class="navi-list">
							<li class="navi-item current" title="현재 선택된 항목"><a class="navi-name" href="#">연차결재</a></li>
							<li class="navi-item"><a class="navi-name" href="#">지출결재</a></li>
						</ul>
					</div>
					<!-- //local-navi -->
				</div>
				<!-- //local-head -->
				<!-- local-body -->
				<div class="local-body">
					<!-- content -->
					<div id="content">
						<!-- content-head -->
						<div class="content-head">
							<h3 class="content-title"><span class="content-name">지출결의 등록</span></h3>
							<div class="content-navi">
								<a class="btn" href="#"><svg width="24" height="24" viewBox="0 0 24 24" focusable="false" xmlns="http://www.w3.org/2000/svg"><title>뒤로</title><path d="M12.7,5.7a1,1,0,0,0-1.4-1.4l-7,7a1,1,0,0,0,0,1.4l7,7a1,1,0,0,0,1.4-1.4L7.4,13H19a1,1,0,0,0,0-2H7.4Z"></path></svg></a>
							</div>
						</div>
						<!-- //content-head -->
						<!-- content-body -->
						<div class="content-body">
							<!-- noti-board -->
							<div class="noti-board module-a style-b type-fill accent-01 x-small attr-caution">
								<div class="board-wrap">
									<div class="board-head"><p class="board-subject"><span class="board-name">승인 이후 수정이 불가하오니 내용 확인 후 등록 바랍니다.</span></p></div>
								</div>
							</div>
							<!-- //noti-board -->
							<!-- submit-form -->
							<fieldset class="submit-form module-a type-a medium">
								<legend>지출결의 입력 서식</legend>
								<div class="form-list">
									<div class="form-item">
										<div class="form-wrap">
											<div class="form-head"><label class="form-name" for="requesterName">신청자</label></div>
											<div class="form-body">
												<div class="form-area">
													<span class="form textfield module-b style-b type-line normal-04 medium flex">
														<input type="text" class="form-elem" id="requesterName" placeholder="" value="이지혜" readonly="readonly" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-item">
										<div class="form-wrap">
											<div class="form-head"><label class="form-name" for="requesterDepartment">본부</label></div>
											<div class="form-body">
												<div class="form-area">
													<span class="form textfield module-b style-b type-line normal-04 medium flex">
														<input type="text" class="form-elem" id="requesterDepartment" placeholder="" value="서비스 운영 본부" readonly="readonly" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-item">
										<div class="form-wrap">
											<div class="form-head"><label class="form-name" for="requesterTeam">부서</label></div>
											<div class="form-body">
												<div class="form-area">
													<span class="form textfield module-b style-b type-line normal-04 medium flex">
														<input type="text" class="form-elem" id="requesterTeam" placeholder="" value="UX팀" readonly="readonly" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-item">
										<div class="form-wrap">
											<div class="form-head"><label class="form-name" for="requestTitle">제목</label></div>
											<div class="form-body">
												<div class="form-area">
													<span class="form textfield module-b style-b type-line normal-04 medium flex">
														<input type="text" class="form-elem" id="requestTitle" placeholder="" value="02월 지출결의_이지혜" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-item">
										<div class="form-wrap">
											<div class="form-head"><label class="form-name" for="approver">승인위치</label></div>
											<div class="form-body">
												<div class="form-area">
													<span class="form select module-b style-b type-line normal-04 medium flex">
														<select class="form-elem" id="approver">
															<option>선택</option>
															<option>조완섭[수석]_UX팀</option>
														</select>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
							<!-- //submit-form -->
							<!-- section -->
							<div class="section module-a style-a type-a">
								<div class="section-head"><h4 class="section-title"><span class="section-name">지출내역</span></h4></div>
								<div class="section-body">
									<!-- submit-form -->
									<fieldset class="submit-form module-a type-a medium">
										<legend>지출내역 입력 서식</legend>
										<div class="form-list">
											<div class="form-item">
												<div class="form-wrap">
													<div class="form-head"><label class="form-name" for="expensesDate">날짜</label></div>
													<div class="form-body">
														<div class="form-area">
															<span class="form date module-b style-b type-line normal-04 medium flex">
																<input type="date" class="form-elem" id="expensesDate" placeholder="날짜를 선택해주세요." value="2022-02-11" />
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="form-item">
												<div class="form-wrap">
													<div class="form-head"><label class="form-name" for="expensesType">지출타입</label></div>
													<div class="form-body">
														<div class="form-area">
															<span class="form select module-b style-b type-line normal-04 medium flex">
																<select class="form-elem" id="expensesType">
																	<option>선택</option>
																	<option>교통비</option>
																	<option>석식대</option>
																	<option>회식비</option>
																	<option>기타</option>
																</select>
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="form-item">
												<div class="form-wrap">
													<div class="form-head"><label class="form-name" for="expensesHistory">상세내역</label></div>
													<div class="form-body">
														<div class="form-area">
															<span class="form textfield module-b style-b type-line normal-04 medium flex">
																<input type="text" class="form-elem" id="expensesHistory" placeholder="지출 상세내역을 입력해주세요." value="12시 지나 퇴근이라 택시탐" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="form-item">
												<div class="form-wrap">
													<div class="form-head"><label class="form-name" for="expensesProjectName">프로젝트</label></div>
													<div class="form-body">
														<div class="form-area">
															<span class="form textfield module-b style-b type-line normal-04 medium flex">
																<input type="text" class="form-elem" id="expensesProjectName" placeholder="프로젝트명을 입력해주세요." value="UCOMP 인트라넷" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="form-item">
												<div class="form-wrap">
													<div class="form-head"><label class="form-name" for="expensesAmount">금액</label></div>
													<div class="form-body">
														<div class="form-area">
															<span class="form textfield module-b style-b type-line normal-04 medium flex">
																<input type="text" class="form-elem" id="expensesAmount" placeholder="금액을 입력해주세요." value="11,000" pattern="^[0-9]+$" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</fieldset>
									<!-- //submit-form -->
								</div>
							</div>
							<!-- //section -->
							<!-- section -->
							<div class="section module-a style-a type-a">
								<div class="section-head"><h4 class="section-title"><span class="section-name">지출내역</span></h4></div>
								<div class="section-body">
									<!-- submit-form -->
									<fieldset class="submit-form module-a type-a medium">
										<legend>지출내역 입력 서식</legend>
										<div class="form-list">
											<div class="form-item">
												<div class="form-wrap">
													<div class="form-head"><label class="form-name" for="expensesDate2">날짜</label></div>
													<div class="form-body">
														<div class="form-area">
															<span class="form date module-b style-b type-line normal-04 medium flex">
																<input type="date" class="form-elem" id="expensesDate2" placeholder="날짜를 선택해주세요." value="2022-02-11" />
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="form-item">
												<div class="form-wrap">
													<div class="form-head"><label class="form-name" for="expensesType2">지출타입</label></div>
													<div class="form-body">
														<div class="form-area">
															<span class="form select module-b style-b type-line normal-04 medium flex">
																<select class="form-elem" id="expensesType2">
																	<option>선택</option>
																	<option>교통비</option>
																	<option>석식대</option>
																	<option>회식비</option>
																	<option>기타</option>
																</select>
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="form-item">
												<div class="form-wrap">
													<div class="form-head"><label class="form-name" for="expensesHistory2">상세내역</label></div>
													<div class="form-body">
														<div class="form-area">
															<span class="form textfield module-b style-b type-line normal-04 medium flex">
																<input type="text" class="form-elem" id="expensesHistory2" placeholder="지출 상세내역을 입력해주세요." value="12시 지나 퇴근이라 택시탐" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="form-item">
												<div class="form-wrap">
													<div class="form-head"><label class="form-name" for="expensesProjectName2">프로젝트</label></div>
													<div class="form-body">
														<div class="form-area">
															<span class="form textfield module-b style-b type-line normal-04 medium flex">
																<input type="text" class="form-elem" id="expensesProjectName2" placeholder="프로젝트명을 입력해주세요." value="UCOMP 인트라넷" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="form-item">
												<div class="form-wrap">
													<div class="form-head"><label class="form-name" for="expensesAmount2">금액</label></div>
													<div class="form-body">
														<div class="form-area">
															<span class="form textfield module-b style-b type-line normal-04 medium flex">
																<input type="text" class="form-elem" id="expensesAmount2" placeholder="금액을 입력해주세요." value="11,000" pattern="^[0-9]+$" onfocus="buiFormCancel(this);" onmousemove="buiFormCancel(this);" />
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</fieldset>
									<!-- //submit-form -->
								</div>
							</div>
							<!-- //section -->

							<!-- button-display -->
							<div class="button-display module-a style-a type-c">
								<span class="button-area">
									<button type="button" class="btn module-b style-b type-line normal-04 small symbol-ltr-fill-plus flex"><span class="btn-text">내역추가</span></button>
								</span>
							</div>
							<!-- //button-display -->

							<!-- section -->
							<div class="section module-a style-a type-a">
								<div class="section-head"><h4 class="section-title"><span class="section-name">영수증 사진 첨부</span></h4></div>
								<div class="section-body">
									<!-- file-upload -->
									<fieldset class="file-upload module-a style-a type-a attr-scroll">
										<!-- <legend>파일 등록 서식</legend> -->
										<div class="upload-wrap">
											<div class="upload-head">
												<div class="file-to-upload"><input type="file" class="file-elem" title="파일 선택" /></div>
												<div class="uploaded-files"><span class="head">선택된 파일</span> <span class="body">0건</span></div>
											</div>
											<div class="upload-body">
												<div class="file-list">

												</div>
											</div>
										</div>
									</fieldset>
									<!-- //file-upload -->
								</div>
							</div>
							<!-- //section -->
							<!-- section -->
							<div class="section module-a style-a type-a">
								<div class="section-head"><h4 class="section-title"><span class="section-name">영수증 사진 첨부</span></h4></div>
								<div class="section-body">
									<!-- file-upload -->
									<fieldset class="file-upload module-a style-a type-a attr-scroll">
										<!-- <legend>파일 등록 서식</legend> -->
										<div class="upload-wrap">
											<div class="upload-head">
												<div class="file-to-upload"><input type="file" class="file-elem" title="파일 선택" /></div>
												<div class="uploaded-files"><span class="head">선택된 파일</span> <span class="body">0건</span></div>
											</div>
											<div class="upload-body">
												<div class="file-list">
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
													<div class="file-item" style="--thumbnail-image: url(./../../assets/images/@temp/img_receipt_01.png);"><span class="file-name">파일명</span> <button type="button" class="btn file-delete"><span class="btn-text">삭제</span></button></div>
												</div>
											</div>
										</div>
									</fieldset>
									<!-- //file-upload -->
								</div>
							</div>
							<!-- //section -->
						</div>
						<!-- //content-body -->
					</div>
					<!-- //content -->
				</div>
				<!-- //local-body -->
				<!-- local-util -->
				<div class="local-util">
					<div class="request-amount">
						<span class="head">총 0건</span>
						<span class="body"><span class="text">234234</span><span class="unit">원</span></span>
					</div>
					<div class="button-display module-a style-b type-d">
						<span class="button-area">
							<a href="#signoffForm" class="btn module-b style-a type-fill accent-01 x-large flex" onclick="toastPopup.active('signoffForm');"><span class="btn-text">결재 등록하기</span></a>
						</span>
					</div>
				</div>
				<!-- //local-util -->
			</div>
			<!-- //local -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
	<%-include('../_templates/_content.popup.ejs') %>
</div>
</body>
</html>