<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'front',
	pageJavascript: ''
}) %>
<style>
	body {margin: 24rem;}
	body>.button-display {margin: 0 auto; max-width: 480rem;}
	body>.button-display + .button-display  {margin-top: 16rem;}
</style>
</head>
<body>
<div class="button-display module-a style-b type-d">
	<span class="button-area">
		<a href="#imageEnlarge" class="btn module-b style-a type-fill normal-04 large flex" onclick="imageEnlarge.active('imageEnlarge');"><span class="btn-text">이미지 크게 보기</span></a>
	</span>
</div>
<hr />
<%-include('../_templates/_content.popup.ejs') %>
<script stype="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		imageEnlarge.active('imageEnlarge');
	});
</script>
</body>
</html>