	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="description" content="KPC, 교육, 컨설팅, 지수, 자격인증, 4차 산업혁명" />
	<meta name="keywords" content="KPC, 교육, 컨설팅, 지수, 자격인증, 4차 산업혁명" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="한국생산성본부" />
	<meta property="og:description" content="KPC, 교육, 컨설팅, 지수, 자격인증, 4차 산업혁명" />
	<meta property="og:image" content="https://www.kpc.or.kr/PDS/Banner/Main/20190321173311981.jpg" />
	<meta property="og:url" content="https://www.kpc.or.kr" />
	<title>한국생산성본부 생산성경영지원시스템</title>
	<link rel="shortcut icon" href="./../../assets/images/app/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css" />
	<% if (layoutTemplate) { %><link rel="stylesheet" type="text/css" href="./../../assets/css/layout.<%= layoutTemplate %>.css"><% } %>
	<% if (pageStyle) { %><link rel="stylesheet" type="text/css" href="./../../assets/css/page.<%= pageStyle %>.css"><% } %>
	<% if (pageJavascript) { %><script type="text/javascript" defer src="./../../assets/js/page.<%= pageJavascript %>.js"></script><% } %>